{% extends 'base.html.twig' %}

{% block title %} editer room{% endblock %}

{% block body %}
    <h1>Editer room</h1>
    {{ form_start(form) }}
    {{form_rest(form) }}

    {{ form_row(form.description) }}
    {{ form_widget(form.roomDetails.vars.prototype) }}
    
    <button class="btn-dark btn" type="submit">Créer</button>
    {{ form_end(form) }}



{% endblock %}


{% block javascripts %}
     {{ parent() }}

     <script>
    const urlApi = '{{ path("api_city") }}'
</script>   
 
</script>    
<script defer src='{{ asset("assets/js/apilocation.js")}}'></script>
  

{% endblock %}