{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search Results</h1>

    <form action="{{ path('app_post_search') }}" method="get">
        <input type="text" name="search" placeholder="Search for locations" value="{{ app.request.query.get('search') }}">
        <button type="submit">Search</button>
    </form>

    <ul>
    

        {% if locations is empty %}
            <p>No results found.</p>
        {% else %}
            {% for location in locations %}
             <li>
                  <h2>Type de logement : {{ location.getClassName() }}</h2>
                  <h2>description: {{ location.description }}</h2>
                  <h2>nbrRoom : {{ location.nbrRoom }}</h2>
                  <h2>Surface : {{ location.area }}</h2>
                  <h2>Prix/nuit:  {{ location.nightPrice  }}</h2>
                  <h2>Adresse : {{ location.address }}</h2>
                  <h2>Ville : {{ location.city }}</h2>
                  <h2>Disponibilité du : {{ location.datestart | date('Y-m-d') }} au {{ location.dateend | date('Y-m-d')}}</h2>
              <a href="{{ path('app_createBooking', {'location': location.
              </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}

